<form #advtForm="ngForm" class ="form">
  <h1>ADVERTISEMENT DETAILS</h1>

  <div class="form-group">
    <label>ClientName</label>
<select id="client_id" [(ngModel)]="clientId" #client_id="ngModel" (change)="selectClientName()" name="client_id" class="form-control">
<option [ngValue]="client.client_id" *ngFor=" let client of clients" >
  {{client.clientname}}
</option>
</select>
  </div>

  <div class="form-group">
    <label  class="label-control">Advertisement Subject:</label>
    <input type="text" name="advt_subject"  id="advt_subject" (keypress)="keyPressed($event)" required
     [(ngModel)]="advt_subject" #AdvtSubjects="ngModel" class="form-control">
     <div *ngIf ="AdvtSubjects.errors && (AdvtSubjects.dirty||  AdvtSubjects.touched)" class ="text-danger">
       <div [hidden] ="!AdvtSubjects.hasError('required')"> Advertisement details required</div>
     </div> 
  </div>

  <div class="form-group">
    <label  class="label-control">Advertisement Details:</label>
    <textarea type="text" name="advt_details"  id= "advt_details"   (keypress)="keyPressed($event)" required
     [(ngModel)]="advt_details" #AdvtDetails="ngModel" class = "form-control"></textarea>
     <div *ngIf ="AdvtDetails.errors && (AdvtDetails.dirty||  AdvtDetails.touched)" class ="text-danger">
       <div [hidden] ="!AdvtDetails.hasError('required')"> Advertisement details required</div>
     </div> 
  </div>


  
  <div class="form-group">
   
      <label class="label-control">Publish Date:</label>
        <input class="form-control" type="date" name="publish_date" [(ngModel)]="publish_date" #publishDate="ngModel">
     
  </div>   
   


  <div class="form-group">
      <label  class="label-control">Age From:</label>
      <input type="text" name="ageFrom" class="form-control"  value="age_from"   id="age_from" [(ngModel)]="age_from"  (change)= "fromDate(age_from.value)"  minlength ="2" maxlength ="3"  (keypress)="keyPress($event)" #ageFrom="ngModel" required>
      <div *ngIf ="ageFrom.errors && (ageFrom.dirty|| ageFrom.touched)" class="text-danger">
        <div [hidden] ="!ageFrom.hasError('required')"> Age is Required</div>
      </div>
    </div>

    <div class="form-group">
      <label  class="label-control">Age To:</label>
      <input type="text" name="age_to"  id ="age_to"  value ="age_to" class="form-control"   (change)="checkPrice()" [(ngModel)]="age_to" minlength="2" maxlength="3"   (keypress)="keyPress($event)" #ageTo="ngModel" required>
      <div *ngIf ="ageTo.errors && (ageTo.dirty || ageTo.touched)" class ="text-danger">
        <div [hidden] ="!ageTo.hasError('required')"> Age is Required</div>
      </div>
    </div>

 <button type="button" class="btn btn-primary"  routerLink="../advt-details-list"  (click)="onSubmit($event, AdvtDetails.value, publishDate.value, ageFrom.value, ageTo.value )">submit</button>                  
      
</form>





