<form #personForm="ngForm" class="form">
   
 
  
    <div class="jumbotron jumbotron fluidic">
        <div class="container">
        <h2>PERSON DETAILS</h2>
    <div class="form-group">
      <label class="label-control">First Name:</label>
      <input type="text" name="firstname" class="form-control" minlength="3" maxlength="20" (keypress)="keyPressed($event)" required
        [(ngModel)]="firstName" id ="first_name" #firstname="ngModel">
         <div *ngIf = "firstname.errors && (firstname.dirty || firstname.touched) " class="text-danger">
          <div [hidden] ="!firstname.hasError('required')"> First Name is Required</div>
        </div>
    </div>
    <div class="form-group">
      <label class="label-control">Middle Name:</label>
      <input type="text" name="middlename" class="form-control" minlength="3" maxlength="20" (keypress)="keyPressed($event)" required
        [(ngModel)]="middleName" #middlename="ngModel">
        <div *ngIf = "middlename.errors && (middlename.dirty || middlename.touched) " class="text-danger">
          <div [hidden] ="!middlename.hasError('required')"> Middle Name is Required</div>
        </div>
       
    </div>
    <div class="form-group">
      <label class="label-control">Last Name:</label>
      <input type="text" name="lastname" class="form-control" minlength="3" maxlength="20" (keypress)="keyPressed($event)" required
        [(ngModel)]="lastName" #lastname="ngModel">
        <div *ngIf = "lastname.errors && (lastname.dirty || lastname.touched) " class="text-danger">
          <div [hidden] ="!lastname.hasError('required')"> Last name is Required</div>
        </div>
        
    </div>
    <div class="form-group">
      <label>Block</label>
      <select id="block_id" required [(ngModel)]="blockId" #block_id="ngModel" (change)="selectBlockName()" name="block_id" class=" form-control"   id="exampleFormControlSelect2">
        <option [ngValue]="block.block_id" *ngFor=" let block of blocks">
          {{block.blockname}}
        </option>
      </select>
     </div>
   
     <div class="form-group">
      <label>Floor:</label>
      <select id="floor_id" required [(ngModel)]="floorId" #floor_id="ngModel" (change)="selectFloorName()" name="floor_id" class="form-control">
        <option [ngValue]="floor.floor_id" *ngFor=" let floor of floors">
          {{floor.floor_type}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Location:</label>
      <select id="location_id" required [(ngModel)]="locationId" #location_id="ngModel" (change)="selectLocationName()" name="location_id"
        class="form-control">
        <option [ngValue]="location.location_id" *ngFor="let location of locations">
          {{location.location_name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="label-control">Address:</label>
      <input type="text" name="address" required [(ngModel)]="address" #Address="ngModel" class="form-control">
      <div *ngIf = "Address.errors && (Address.dirty || Address.touched) " class="text-danger">
        <div [hidden] ="!Address.hasError('required')"> Address is Required</div>
      </div>   
    </div>

    <div class="form-group">
      <label class="label-control">Pincode:</label>
      <input type="text" name="pincode" minlength="6" maxlength="6" (keypress)="keyPress($event)" required [(ngModel)]="pincode"
        #Pincode="ngModel" class="form-control">
        <div *ngIf = "Pincode.errors && (Pincode.dirty || Pincode.touched) " class="text-danger">
          <div [hidden] ="!Pincode.hasError('required')"> Pincode  is Required</div>
        </div>
    </div>

    <div class="form-group">
      <label>Date Of Birth:</label>
      <input type="date" name="date_of_birth" required [(ngModel)]="date-of-birth" #dateofBirth= "ngModel" class="form-control">
      <div *ngIf = "dateofBirth.errors && (dateofBirth.dirty || dateofBirth.touched) " class="text-danger">
        <div [hidden] ="!dateofBirth.hasError('required')">  Date of Birth is Required</div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <label>Gender:</label>
        <input type="radio" value="Male" name="gender" [(ngModel)]="gender" required #Gender> M
        <input type="radio" value="Female" name="gender" [(ngModel)]="gender" required #Gender> F
      </div>
    
    </div>

    <div class="form-group">
      <label>Mobile Number 1:</label>
      <input id="mobile_number1" name="mobile_number1" minlength="10" maxlength="10" (keypress)="keyPress($event)" required [(ngModel)]="mobile_number1"
        #mobilenumber1="ngModel" class="form-control">
        <div *ngIf = "mobilenumber1.errors && (mobilenumber1.dirty || mobilenumber1.touched) " class="text-danger">
          <div [hidden] ="!mobilenumber1.hasError('required')">  Mobile Numberis Required</div>
        </div>
    </div>

    <div class="form-group">
      <label>Mobile Number 2:</label>
      <input id="mobile_number2" name="mobile_number2" minlength="10" maxlength="10" (keypress)="keyPress($event)" required [(ngModel)]="mobile_number2"
        #mobilenumber2 ="ngModel" class="form-control">
        <div *ngIf = "mobilenumber2.errors && (mobilenumber2.dirty || mobilenumber2.touched) " class="text-danger">
          <div [hidden] ="!mobilenumber2.hasError('required')">  Mobile Number is Required</div>
        </div>
    </div>
</div>
</div>
    <button type="submit" class ="btn-btn-secondary"   *ngIf ="">Edit </button>
    <button type="button" class="btn btn-primary mb-2"  routerLink="../person-list" (click)="onSubmit($event, firstname.value, middlename.value, lastname.value, Address.value, Pincode.value, dateofBirth.value, Gender.value, mobilenumber1.value, mobilenumber2.value )">submit</button>
    <button type="submit" class ="btn-btn-danger">update </button>
</form>
