 .form{
    margin-right: 300px;
    margin-left: 400px;
 
 }

 

 .jumbotron{
  background-color: rgba(68, 157, 163, 0.133);
 }
/* .form-group {
    font-size: 80%;
    
} */

/* .h2{
    font-size: 170%;
    
} */
/* 
.header{
    text-align: center;
} */
/* .container{
    
    background-color: rgb(225, 247, 247);
}  */
