<body>
    <div>
      <div class="jumbotron" style="padding-bottom:-80px;">
        <div id="container" >
          <h1 style="font-size:20px; text-align:center;">ADVERTISEMENT PUBLISH</h1>
          <p style="text-align:center; font-size:10px">Creative without strategy is called 'art.' Creative with strategy
            is called 'advertising.'</p>
        </div>
      </div>
  
  
      <div class="jumbotron" style="background-color:#000d1a;">
      
        <div id="container">
          <div class="row  col-xs-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 ">
  
            <nav class="col-xs-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 " id="data">
              <div class="sidebar-sticky" id="navbarCollapse">
                <ul class="nav flex-column  col-xs-12 col-sm-12 col-lg-12 col-md-12 col-xl-12  "  id="sidebar">
  
                  <li class="list-group">
                    <a class="nav-link  col-xs-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 " routerLink="/view-person"> Person Details </a>

                  </li>
                  <li class="list-group">
                    <a class="nav-link   col-xs-12 col-sm-12 col-lg-12 col-md-12 col-xl-12" routerLink="/view-publish"> Publish Advertisement </a>
                  </li>
                  <li class="list-group">
                    <a class="nav-link   col-xs-12 col-sm-12 col-lg-12 col-md-12 col-xl-12" routerLink="/view-advt"> Advertisement Details </a>
                  </li>
                </ul>
  
  
              </div>
            </nav>
          </div>
  
  
          </div>
  
  
   
    </div>
    </div>
  </body>